.App {
  text-align: center;
}

/*GLOBALS*/
*{
  font-family: 'IBM Plex Mono', monospace;
}
:root {
  --color1: #ffffff;
  --color2: #cccccc;
  --color3: #808080;
  --color4: #090909;
}
/*GLOBALS*/

/*NAVBAR STYLES*/
.navbar-component{
  background-color: var(--color1) ;
}

.links{
  color: var(--color4);
}

.links:hover{
  color: var(--color3);
}
/*NAVBAR STYLES*/


/*BANNER STYLES*/
.banner-component{
  background-color: var(--color4);
  color: var(--color1);
  font-size: 34px;
  font-weight: bolder;
}

.banner-component button{
  border: solid 3px var(--color1);
  color: var(--color1);
}

.banner-component:hover button{
  border: solid 3px var(--color1);
  color: var(--color1);
  transition: 0.5s;
  transform: scale(1.2);
}
/*BANNER STYLES*/

/*ABOUT ME STYLES*/

.AM-component{
  background-color: var(--color4);
  color: var(--color1);
  font-size: 34px;
  font-weight: bolder;
}

.AB-text{
  font-size: 20px;
  font-weight: normal;
  color: var(--color3);
}
/*ABOUT ME STYLES*/

/*SKILLS STYLES*/

.skills-component{
  background-color: var(--color4);
}
.title{
  font-size: 40px;
  font-weight: bolder;
  color: var(--color1);
  padding-top: 0;
}
/*SKILLS STYLES*/

/*PROJECTS STYLES*/
.projects-text{
  color: var(--color2);
}

.link-projects{
    text-decoration: none;
    color: var(--color3);
}

.link-projects:hover{
  color: var(--color1);
  transition: 0.5s;
  transform: scale(1.2);
}
/*PROJECTS STYLES*/