.App {
  text-align: center;
}

/*GLOBALS*/
*{
  font-family: 'IBM Plex Mono', monospace;
}
:root {
  --color1: #ffffff;
  --color2: #cccccc;
  --color3: #808080;
  --color4: #090909;
}
/*GLOBALS*/

/*NAVBAR STYLES*/
.navbar-component{
  background-color: var(--color1) ;
}

.links{
  color: var(--color4);
}

.links:hover{
  color: var(--color3);
}

/*NAVBAR STYLES*/

